@model IEnumerable<Car>
@inject SignInManager<IdentityUser> signInManager;

@{
    ViewBag.Title = "All Cars";
}

<div class="container-fluid padding">
    <div class="row padding">
        @foreach (var car in Model)
        {
            var photoPath = "/img/" + car.PhotoPath;
            <div class="col-md-4">
                <div class="card" style="margin-top:30px;">
                    <img class="card-img-top" style="width: 100%;height:350px;object-fit:cover;" src=@photoPath>
                    <div class="card-body">
                        <h3 class="card-title" style="text-align:center;">@car.CarName</h3>
                        @*<p class="card-text">gasg</p>*@
                        @*<a href="#" class="btn btn-outline-secondary">See profile</a>*@
                    </div>
                    <form asp-action="DeleteCar" asp-route-id="@car.Id" method="post">
                        <div class="card-footer text-center">

                            <a asp-controller="home" asp-action="details" asp-route-id="@car.Id"
                               class="btn btn-info m-1">View</a>
                            @if (signInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
                            {
                                <a asp-action="edit" asp-controller="home"
                                   asp-route-id="@car.Id"
                                   class="btn btn-primary m-1">Edit</a>
                                <button type="submit" class="btn btn-danger m-1">Delete</button>
                            }

                        </div>
                    </form>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script src="~/js/CustomScript.js"></script>
}