@model IEnumerable<Car>


@{
    ViewBag.Title = "All Cars";
}

<div class ="card-deck">
     
    @foreach (var car in Model)
    {
    <div class="card m-3">
        <div class="card-header">
            <h3>@car.CarName</h3>
        </div>
        <img class="card-img-top" src="https://cdn.motor1.com/images/mgl/VmvAB/s3/2020-honda-civic-type-r.jpg" 
             asp-append-version="true"/>
        <div class="card-footer text-center">
            <a asp-controller="home" asp-action="details" asp-route-id="@car.Id" 
               class="btn btn-primary m-1" >View</a>
            <a href="#" class="btn btn-primary m-1">Edit</a>
            <a href="#" class="btn btn-danger m-1">Delete</a>
        </div>
    </div>
        
    }
 </div>



@section Scripts{
    <script src="~/js/CustomScript.js"></script>
}