
<div class="text-center">
    <h1 class="text">Reservation complete!</h1>
    <h6 class="text">Thank you for choosing us!</h6>
    <img src="~/img/done.png" style="height:300px; width:300px" />
</div>